<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejobs Clone</title>
</head>

<style>

    body{
        background: yellow;
        font-family: "Times New Roman", sans-serif;
        padding-top: 50px;
    }

    .navbar{
        list-style: none;
        text-align: center;
        text-size: 1000%;
    }

</style>

<body>

    <nav class="navbar">
        <div class="container_2">
            <a href="/">EJOBS</a>
        </div>
    </nav>


    <div class="container">
        <a href="apply/">Apply to a job!</a>
        <a href="show-jobs/">See all the jobs</a>
    </div>

</body>
</html>