<!doctype html>
<html lang="en">
  <head>
     <title>Ejobs Clone</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <a class="navbar" href="/">Ejobs</a>
      </div>
    </nav>

    <div class="container">
        <p>Some info about this job:</p>

        <table class="table">
          <head>
            <tr>
              <th scope="col">Position</th>
              <th scope="col">Company</th>
              <th scope="col">Description</th>
            </tr>
          </head>
          <body>
                <tr>
                    <td>{{ job.position }}</td>
                    <td>{{ job.company.name }}</td>
                    <td>{{ job.description }}</td>
                </tr>
          </body>
        </table>
    </div>
  </body>
</html>
